.container {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  margin-top: -100px;
  transition: all ease-in-out 0.3s;
  transform: translateX(100%);
}
.active {
  transform: translateX(0%);
}
.header {
  background-color: goldenrod;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
.holder {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.pokeHeader {
  font-weight: 700;
  font-size: 32px !important;
  line-height: 32px !important;
  margin: 0 !important;
}
.levelBlock {
  background-color: rgba(0, 0, 0, 0.644);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  color: white;
}
span {
  font-weight: 500;
  font-size: 24px;
}
.typeContainer {
  height: 50px;
  display: flex;
  column-gap: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
}
.description {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: white;
  height: 90px;
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding-top: 40px;
}
.btn {
  background-color: goldenrod;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px 20px;
  color: black;
  font-weight: 700;
  font-size: 24px;
  width: 250px;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enabled {
  opacity: 1;
  cursor: pointer;
}
